<% include partials/header %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome To YelpCamp</h1>
			<p>View our hand-picked campgrounds from all over the world!</p>
			<p>
				<a href="/campgrounds/new" class="btn-lg">Add New Campground</a>
			</p>
		</div>
	</header>

	<div class="row" style="display:flex; flex-wrap: wrap;">
		<% campgrounds.forEach(function(campground){ %>
		     <div class="col-md-3 col-sm-6">
		     	<div class="card">
		     		<img src="<%= campground.image %>" class="card-img-top">
		     		<div class="card-body">
		     			<h6 class="card-title text-center"><%= campground.name %></h6>
		     		</div>
		     		<p class="d-flex justify-content-center">
		     			<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
		     		</p>
		     	</div>
		    </div>
		<% }) %>
	</div>
 </div>

 <% include partials/footer %>