<% include partials/header %>
	<div class="container">
		<div class="row">
			<h1>Create a New Campground</h1>
		</div>
		
	

		<form action="/campgrounds" method="POST">
			<div class="row">
				<div class="form-row">
					<label for="name">Name</label>
					<input type="text" name="name" id="name">
				</div>
				<div class="form-row">
					<label for="image">Image URL</label>
					<input type="text" name="image" id="image">
				</div>
				<button type="submit" class="btn btn-primary">Submit!</button>
			</div>
				
		</form>

		<a href="/campgrounds">Go Back</a>
	</div>

<% include partials/footer %>